$body: #f7f6f1;
$yellow_dark: #d2a92f;
$white: #fff;
$input_bg: #f6f6f6;
$dropdown_caret: #1a202c;
$span_in_label: #505050;
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #ffd65b;
$yellow: #fec171;
$panGreen: #30b08f;
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5;
$menuBg: #304156;
$menuHover: #263445;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
