@keyframes thmBtnRipple {
	0% {
		left: 10px;
  }
  30%{
    top: 20px;
  }

	100% {
		left: calc(100% - 10px);
	}
}
.el-row {
  .el-col {
    label {
      font-size: 13px;
      font-weight: 500;
      span {
        color: $span_in_label;
        background: $yellow;
        padding: 2px 7px;
        border-radius: 25px;
        font-size: 10px;
      }
    }
    .el-select {
      width: 100%;
    }
    .el-date-editor--date {
      width: 100%;
    }
    .el-textarea {
      .el-textarea__inner {
        background: $input_bg;
        border: 1px solid $input_bg;
        margin: 8px 0px;
      }
      .el-textarea__inner:focus {
        border: 1px solid $yellow;
        border-color: $yellow;
        background: $input_bg;
      }
    }
    .el-input {
      input.el-input__inner {
        background: $input_bg;
        border: 1px solid $input_bg;
        margin: 8px 0px;
      }
      input.el-input__inner:focus {
        border: 1px solid $yellow;
        border-color: $yellow;
        background: $input_bg;
      }
      .el-select__caret {
        color: $dropdown_caret;
      }
    }
  }
}
.action {
  .el-button {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .el-button::before {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.2;
    width: 35px;
    height: 35px;
    top: 10%;
    transform: translateY(-50%);
    left: -5px;
  }  
  .el-button:hover::before {
    animation: thmBtnRipple 2s ease-out infinite;
}
  .el-button--primary {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #09c0e4;
    background-size: auto 200%;
    background-image: linear-gradient(0deg, #1293c8 0%, #1fe4f2 51%, #1293c8 100%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-position: top;
    position: relative;

    &:hover {
      background-color: $yellow_dark;
      color: $white;
    }
  }
  .el-button--info {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #b94eec;
    background-image: linear-gradient(0deg, #7b22b0 0%, #e867ff 51%, #7b22b0 100%);
    background-size: auto 200%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $yellow_dark;
      color: $white;
    }
  }
  .el-button--success {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #7dc56f;
    background-size: auto 200%;
    background-image: linear-gradient(0deg, #388e3c 0%, #b6e66d 51%, #388e3c 100%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-position: top;
    position: relative;

    &:hover {
      background-color: $yellow_dark;
      color: $white;
    }
  }
  .el-button--danger {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #ec4c6e;
    background-image: linear-gradient(0deg, #F94E6C 0%, #dd1144 51%, #F94E6C 100%);
    background-size: auto 200%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $yellow_dark;
      color: $white;
    }
  }
  .el-button--warning {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #ecb975;
    background-image: linear-gradient(0deg, #fec171 0%, #ea8500 51%, #fec171 100%);
    background-size: auto 200%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $yellow_dark;
      color: $white;
    }
  }
}
.el-date-table td.today span {
  color: $yellow;
}
.el-date-table td.available:hover {
  color: $yellow;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.6em;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}
